body{
    background-color: #B22222;
}

p {
    font-size: 35px;
    font-family: 'Arcade';
    color: aliceblue;
}

@font-face {
    font-family: Arcade;
    src: url(fontseeeeee/ARCADECLASSIC.TTF);
}